<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Password Reset</title>
    {% include "html_templates/head.html" %}
</head>

<body data-new-gr-c-s-check-loaded="14.1168.0" data-gr-ext-installed="">

 <div class="account-pages my-5 pt-sm-5">
  <div class="container">
   <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
     <div class="card overflow-hidden">
       <div class="bg-primary-subtle">
         <div class="row">
           <div class="col-7">
             <div class="text-primary p-4">
               <h5 class="text-primary">Password Reset</h5>
               <p>Set new password to access your account.</p>
             </div>
           </div>
           <div class="col-5 align-self-end">
              {% include "html_templates/desk_logo.html" %}
           </div>
         </div>
       </div>
       <div class="card-body pt-0"> 
         {% include "html_templates/top_round_logo.html" %}
         <div class="p-2">
           <form style="width: 85%;margin-left:7.5%">
            <div class="row overflow-hidden">
                <div class="col-12 mb-3">
                  <div class="form-floating text-secondary">
                    <input type="password" class="form-control" name="password" id="password"  placeholder="Password" aria-describedby="paswordHelpBlock" onblur="form_validation('password')" required>
                    <label for="password" class="form-label">Password</label>
                  </div>
                  <div id="password_error_success">                    
                  </div>
                </div> 
                <div class="col-12 mb-3">
                  <div class="form-floating text-secondary">
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="ConfirmPassword" aria-describedby="paswordHelpBlock" onblur="form_validation('confirm_password')" required>
                    <label for="confirm_password" class="form-label">Confirm Password</label>
                  </div>
                  <div id="confirm_password_error_success">                    
                  </div>
                  <small id="paswordHelpBlock" class="form-text text-muted">
                    Password must be more than 8 characters long, <br> should contain atleast 1 uppercase, 1 lowercase and 1 number<br>
                  </small>
                </div>
                <input id="unique_token" name="unique_token" type="text" class="textbox" value="{{unique_token}}" hidden>
                <div class="col-12 mb-3">
                  <div class="d-grid">
                    <p class="btn btn-dark btn-lg" onclick="password_reset_ajax()" style="background-color:#22BC66;border-color:#22BC66;">Submit</p>
                  </div>
                </div>
            </div>
          </form>
         </div>
       </div>
     </div>
     {% include "html_templates/footer.html" %}
    </div>
   </div>
  </div>
 </div>

 <script src="{{ url_for('static', filename='js/password_criteria.js') }}"></script>  
 <script src="{{ url_for('static', filename='js/success_failed_handler.js') }}"></script>
 <script>
     function form_validation(element_id){
      if (element_id == 'password'){
        password = document.getElementById('password').value;          
        if(password !=''){
          if (password_criteria(password)){
            success_failed_handler('success','password','password_error_success','Good Password');
          }
          else{
            success_failed_handler('failed','password','password_error_success','Password did not meet criteria');
          }
        }
        else{
          success_failed_handler('failed','password','password_error_success','Password did not meet criteria');
        }
      }
      else if (element_id == 'confirm_password'){
        confirm_password = document.getElementById('confirm_password').value;          
        if(confirm_password !=''){
          if (password_criteria(confirm_password)){
            success_failed_handler('success','confirm_password','confirm_password_error_success','Good Password');
          }
          else{
            success_failed_handler('failed','confirm_password','confirm_password_error_success','Password did not meet criteria');
          }
        }
        else{
          success_failed_handler('failed','confirm_password','confirm_password_error_success','Password did not meet criteria');
        }
      }
    }
    function password_reset_ajax(){
      password = document.getElementById('password').value;
      confirm_password = document.getElementById('confirm_password').value;
      unique_token = document.getElementById('unique_token').value;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          if (this.responseText.length < 200 ){
            response = JSON.parse(this.responseText);
            if (response.status_message == 'failed'){
              password_reset_ajax_response(response);
            }
          }
          else{
            redirectUrl = "{{ url_for('home') }}";
            window.location.href = redirectUrl;
          }
        }
      };
      xhttp.open("POST", "{{ url_for('reset_change_password') }}", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("password="+password+"&confirm_password="+confirm_password+"&unique_token="+unique_token);
    }
    
    function password_reset_ajax_response(reset_message){
      success_failed_handler('failed','password','confirm_password_error_success',reset_message.data.message);
      success_failed_handler('failed','confirm_password','confirm_password_error_success',reset_message.data.message);
    }
  </script>
</body>
</html>