<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <title>Recover Password</title>
    {% include "html_templates/head.html" %}
</head>

<body data-new-gr-c-s-check-loaded="14.1168.0" data-gr-ext-installed="">

 <div class="account-pages my-5 pt-sm-5">
  <div class="container">
   <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
     <div class="card overflow-hidden">
       <div class="bg-primary-subtle">
         <div class="row">
           <div class="col-7">
             <div class="text-primary p-4">
               <h5 class="text-primary" id="message_head">Reset Password !</h5>
               <p id="message_para">Enter your email address and we'll send you an email with instructions to reset your password.</p>
             </div>
           </div>
           <div class="col-5 align-self-end">
              {% include "html_templates/desk_logo.html" %}
           </div>
         </div>
       </div>
       <div class="card-body pt-0"> 
         {% include "html_templates/top_round_logo.html" %}
         <div class="p-2" id='message_body'>
          <form style="width: 75%;margin-left:12.5%">
            <div class="row overflow-hidden">              
              <div class="col-12 mb-4">
                <div class="form-floating text-secondary">
                  <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" onblur="form_validation('email')" required>
                  <label for="email" class="form-label">Email</label>
                </div>
                <div id="email_error_success">                    
                </div>
              </div>                      
              <div class="col-12">
                <div class="d-grid">
                  <p class="btn btn-dark btn-lg" onclick="recover_password_ajax()" style="background-color:#22BC66;border-color:#22BC66;">Reset Password</p>                  
                </div>
             </div>
              <div class="row">
                <div class="col-12">
                  <p class="mb-0 mt-4 text-secondary text-center">Remember It ? <a href="{{url_for('login')}}" class="link-primary text-decoration-none">Sign in</a></p>
                </div>
              </div>
            </div>
          </form>
         </div>
       </div>
     </div>
     {% include "html_templates/footer.html" %}
    </div>
   </div>
  </div>
 </div>

 <script src="{{ url_for('static', filename='js/email_criteria.js') }}"></script>
 <script src="{{ url_for('static', filename='js/success_failed_handler.js') }}"></script>
 <script>
    function form_validation(element_id){
      if (element_id == 'email'){
        email = document.getElementById('email').value;
        if(email !=''){
          if (email_criteria(email)){
            success_failed_handler('success','email','email_error_success','Good Email');
          }
          else{
            success_failed_handler('failed','email','email_error_success','Email did not meet criteria');
          }
        }
        else{
          success_failed_handler('failed','email','email_error_success','Email did not meet criteria');
        }
      }
    }
    function recover_password_ajax(){
      email = document.getElementById('email').value;

      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {          
          response = JSON.parse(this.responseText);
          if (response.status_message == 'failed'){
            recover_password_ajax_response(response);
          }
          else if (response.status_message == 'success'){            
            document.getElementById('message_head').innerHTML = response.data.message_head;
            document.getElementById('message_para').innerHTML = response.data.message_para;
            document.getElementById('message_body').innerHTML = response.data.message_body;
          }
        }
      };
      xhttp.open("POST", "{{ url_for('reset_change_password_request') }}", true);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("email="+email);
    }
    function recover_password_ajax_response(recover_password_message){
      success_failed_handler('failed','email','email_error_success',recover_password_message.data.message); 
    }
 </script>
</body>
</html>